Remotion/TypePipe/Core/Configuration/TypePipeConfigurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="typepipe"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://typepipe.codeplex.com/configuration/TypePipeConfigurationSchema.xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <xs:element name="typePipe">
    <xs:complexType>
      <xs:all>
        <xs:element name="forceStrongNaming" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="keyFile" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>